:root {
    --calculator-color: #703f19;
    --button-color: #d2d681;
    --result-color: #e3e6ba;
}

html, body, button{
    height: 100%;
    margin: 0;
    font-family: Arial;
    font-size: 50px; 
}

li {
    list-style-type: none;

}
.calculator {
    
    background-color: var(--calculator-color);
    width: 500px;
    height: 98vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding: 5px;

    border-radius: 15px;

    display: flex;
    flex-direction: column;

}

.result-container {
    flex: 1 1 auto;
    display: flex;
    margin:5px;
}

.result {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: var(--result-color);
    border-radius: 10px;
    text-align: end; 
}

.result div {
    flex:1;
}

.number-container {
    flex: 3 1 auto;
    display: flex;
    flex-direction: column;
}

.number-container li{
    display: flex;
    flex: 1;
    margin: 2px;
}

.bottom-row {
    display:flex;
}

.bottom-column {
    flex:1;
    display:flex;
}

.number-button {
    flex: 1;
    background-color: var(--button-color);
    border: none;
    margin: 2px;
    padding: 10px;
    border-radius: 10px;

}

